.cart_container{
    background-repeat: no-repeat;
        /* background-position: bottom; */
        background-size: cover;
        height: 100%;
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cart-card{
    height: 100%;
    width: 200px;
}
