.card {
  padding: 10px;
  background-color: var(--sub-color);
  border-radius: 10px !important;
  border: 2px solid var(--main-color);
}
.card:hover {
  cursor: pointer;
  border: 1px solid var(--secondary-color);
}
.card_title {
  font-size: 16px;
  color: var(--text-color);
}
.image_container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
    /* Distribute items evenly along the main axis */
  flex-wrap: wrap;
}
.image_container img {
  width: 30%;
  height:30%;
}

@media (min-width: 441px) and (max-width: 990px) {
  .image_container {
    padding: 0px;
  }
}

@media (max-width: 440px) {
  .image_container {
    padding: 0px;
  }
}
.full_card img{
  width: 300px;
  height:300px;
  border-radius: 10px !important;
}
.full_card{
  margin: 5px;
 background-color: #ffffff85;
   border-radius: 10px !important;
    border: 2px solid var(--main-color);
    

}
.item_details{
  padding: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.card_container{
  display: flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-between; */
    /* Distribute items evenly along the main axis */
    flex-wrap: wrap;
}
.description{
  margin-top: 1%;
}
.full_card_container{
    padding: 10px;
    height: 100vh;

}