.dropdownList_container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dropdownGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 10px;
}
.items {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--sub-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
}
.items_option {
  background-color: var(--sub-color) !important;
  color:var(--text-color);
}
.check_box{
  
  padding: 5px;
  background-color: var(--sub-color) !important;
    color: var(--text-color);
}
.checkBox_container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--sub-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
}
@media (min-width: 441px) and (max-width: 990px) {
  .items {
    padding: 5px;
    border-radius: 10px;
  }
}

@media (max-width: 440px) {
  .dropdownList_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdownGrid {
    grid-template-columns: 1fr;
  }

  .items {
    width: 90vw;
  }
}
