.navbar_container {
	width: 100vw;
}
.navbar{
	background-color: var(--secondary-color) !important;
	color: var(--text-color) !important;
}
.navbar a {
	
	color: var(--text-color) !important;
}
.nav-link{
	color:var(--text-color) !important;
}