.card_container {
	padding: 2% 30% 5% 30%;
	height: 90vh;
}
.h2-card {
	letter-spacing: 0rem;
	color: var(--text-color) !important;
	
}
.row-with-inline {
	display: flex;
}
.card_form{
	padding: 5% 5% 5% 5%;
	background-color: #00000063;
}
.cardform-outline {
	flex: 1;
	margin-right: 5px;
}
.submit-btn {
	border: 2px solid #fff;
	border-radius: 20px;
	background-color: var(--primary-color);
	padding: 5px 30px 5px 30px !important;
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
}
.submit-btn:hover {
	background-color: rgb(255, 255, 255);
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
}

.redError {
	color: red; /* Set text color to red */
	font-size: 14px;
	margin-top: 5px;
}
.mb4 {
	margin: 10px;
}
