.contact-us {
	text-align: center;
	padding: 2% 30% 5% 30%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}
.contactUs-form {
	padding: 10% 2% 10% 2%;
	background-color: rgba(255, 255, 255, 0.692);
}
.form-group {
	margin-bottom: 20px;
}
.contact-TextField {
	margin-bottom: 10px;
}
.contactUs-form button {
	padding: 6px 40px 6px 40px;
	background-color: #000000;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	cursor: pointer;
	border: 2px solid rgb(255, 255, 255);
}

.contactUs-form button:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: 800;
	border: 2px solid rgb(0, 0, 0);
}
