.main-container {
	/* padding: 20px 0px 10px 0px; */
	/* align-items: center; */
	justify-content: center;
	height: 100vh;
	/* background-color: rgb(35, 56, 68); */
	/* height: 100%; */
}
.empty-card-grid{
	padding: 25%;
	font-size: 80px;
}
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #f0f0f0;
	text-align: center;
	padding: 10px 0;
}