/* body {
  background-color: rgb(35, 56, 68);
}
body {
  background-image: linear-gradient(to bottom, rgb(35, 56, 68), rgb(35, 56, 68)ffffff);
} */
body {
	/* background-color: var(--primary-color) !important; */
	
	/* background-size: 300% 400%; */
	/* animation: gradiant 25s ease infinite; */
	/* height: 100vh; */
}
.text {
	color: var(--text-color) !important;
}
.footer {
	background-color: var(--secondary-color) !important;
}
select {
	background-color: var(--sub-color) !important;
	color: var(--text-color) !important;
}
option {
	color: var(--text-color) !important;
}
h1 {
	color: var(--text-color);
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	font-size: 4rem;
	letter-spacing: 2rem;
}
:root {
	background-color: #EEA7AB;
	/* Dark Theme Colors - Blue and Cyan */
	/* --primary-color: #0c1c36;

	--main-color: #00a6a6;

	--secondary-color: #005577;

	--sub-color: #253341c5;

	--text-color: #ffffff; */
	--primary-color: #e91e63;
		/* Darker Pink */
		--main-color: #c2185b;
		/* Pink */
		--secondary-color: #880e4f;
		/* Even Darker Pink */
		--sub-color: #f48fb1c5;
		/* Light Pink with Transparency */
		--text-color: #ffffff;
}
